[%#

   ##
   ##                          ##   ##
 #### ## ## # ## ##  # ##     #### ####
## ## ## ## ## ## ## ## ##     ##   ##
## ## ## ## ## ## ## ## ##     ##   ##
## ## ## ## ## ## ## ## ##     ##   ##
## ## ## ## ## ## ## ## ## ##  ##   ##
 ## #  ## # ## ## ## ####  ##   ##   ##
                     ##
                     ##
%]

<h1>Dump</h1>
<div>
    <pre> [% dump %] </pre>
</div>
